body {
    background: #020024;
    background: linear-gradient(75deg, rgba(2, 0, 36, 1) 0%, rgba(8, 8, 64, 1) 51%, rgba(7, 30, 36, 1) 100%);
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
}
.navbar a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.navbar-title{
    width: 30%;
}

.navbar-title a {
  font-family: "McLaren", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(91, 211, 113), 0 0 5px red;
}



.navbar-options{
    width: 33%;
    display: flex;
    justify-content: space-around;
}

.navbar-options a{
    color: rgb(157,157,157);
    font-family: poppins;
}
.navbar-links{
    width: 20%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.navbar-links img{
    height: 40px;
    width: 40px;
}

/* header css starts form here */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    width: 50%;
}

.HeaderImg img{
    height: 300px;
    width: 150px;
    position: relative;
    animation-name: cigarette;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.headerContent img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.headerContent h1{
    text-shadow: 2px 2px 10px red, 3px 3px 10px green;
     font-family: poppins;
}

/* technologies css start from here */

.technology{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.techHeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.techHeading h1{
    font-family: poppins;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 10px red,3px 3px 15px green;
}

.techImages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.techImages img{
    position: relative;
    height: 150px;
    width: 180px;
}

.techImages img:hover{
    top: -20px;
}
/* this css is for Certification */
.certification{
  margin-top: 20px;
}

.certiHeading{
 text-align: center;
}

.certiHeading h1{
    font-family: poppins;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 10px red,3px 3px 15px green;
}

.certificates{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Certificate{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 450px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Certificate img{
  height: 200px;
  width: 300px;
  border-radius: 20px;
}

.Certificate p{
  color: rgb(205, 171, 171);
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: bolder;
}



/* contact css start from here */

.contact{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.contact h1{
    font-size: 50px;
    letter-spacing: 7px;
    font-family: poppins;
    color: blueviolet;
}

.contact p{
    font-family: poppins;
    color: gray;
    font-size: 20px;
}

.contact button{
    height: 50px;
    width: 130px;
    font-size: 18px;
    box-shadow: 2px 2px 10px blue, 3px 3px 15px green;
    background-color: rgb(5, 5, 87);
    border-radius: 10px;
    color: white;
}

/* mobile css starts from here */
@media (max-width:480px) {
    .navbar{
        flex-direction: column;
        gap: 10px;
    }

    .navbar-title{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navbar-options{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .navbar-options a{
        font-weight: bolder;
    }

    .navbar-links{
        width: 40%;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }


    /* header css starts from here */
    .headerContent img{
        width: 100px;
        height: 100px;
    }

    .headerContent h1{
        font-size: 16px;
    }

    .HeaderImg img{
        width: 100px;
        height: 200px;
    }

    /* technology css start from here */

    .technology{
        margin-top: 20px;
    }

    .techHeading h1{
        font-size: 25px;
    }

    .techImages{
        gap: 10px;
    }

    .techImages img{
        height: 100px;
        width: 100px;
    }

    

    /* contact css start from here */


.contact h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-family: poppins;
    color: blueviolet;
}

.contact p{
    font-family: poppins;
    color: gray;
    font-size: 17px;
    text-align: justify;
}

}


/* animations */

@keyframes cigarette {
    from{
        top: 100px;
        transform: rotateX(90deg);
    }
    
    to{
        top: 0px;
        transform: rotateX(360deg);
        /* transform: rotateY(360deg); */
    }
}

@keyframes cigarette2 {
    from{
        /* top: 100px; */
        transform: rotateY(90deg);
    }
    
    to{
        /* top: 0px; */
        transform: rotatex(90deg);
        /* transform: rotateY(360deg); */
    }
}